<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

<!--    <springProperty scope="context" name="app_name" source="spring.application.name"/>-->
<!--    <springProperty scope="context" name="app_port" source="server.port"/>-->
        <springProperty scope="local" name="logstash_host" source="logstash.host"/>
        <springProperty scope="local" name="logstash_port" source="logstash.port"/>

        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <param name="Encoding" value="UTF-8"/>
            <destination>${logstash_host:- }:${logstash_port:- }</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="!default">
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>

    <logger name="com.learning.awsspring" level="DEBUG"/>
    <logger name="com.amazonaws.util.EC2MetadataUtils" level="ERROR"/>
    <logger name="com.amazonaws.internal.InstanceMetadataServiceResourceFetcher" level="ERROR"/>

</configuration>
