version: '3.8'
services:
  localstack:
    image: localstack/localstack:3.8.1
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb
      - AWS_DEFAULT_REGION=us-east-1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "../.localstack:/etc/localstack/init/ready.d"  # ready hook
      - "/var/run/docker.sock:/var/run/docker.sock"
