version: '3.8'
services:

  postgresqldb:
    image: postgres:16.1-alpine
    environment:
      - POSTGRES_USER=appuser
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=appdb
    ports:
      - "5432:5432"

  localstack:
    image: localstack/localstack:3.0.1
    ports:
      - "4566:4566"
    environment:
      - SERVICES=ssm
      - DEFAULT_REGION=us-east-1
    volumes:
      - "../localstack/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh"  # ready hook  
      - localstack:/tmp/localstack

volumes:
  localstack:
