name: aws-dynamodb-project

on:
  push:
    paths:
      - "aws-dynamodb-project/**"
    branches: [main]
  pull_request:
    paths:
      - "aws-dynamodb-project/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "aws-dynamodb-project"
    strategy:
      matrix:
        distribution: [ 'temurin' ]
        java: [ '25' ]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw clean verify

      - if: ${{ github.ref == 'refs/heads/main' }}
        name: Build and Publish Docker Image
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          ./mvnw spring-boot:build-image -Dspring-boot.build-image.imageName=${{ secrets.DOCKER_USERNAME }}/aws-dynamodb-project-${{ matrix.java }}
          docker push ${{ secrets.DOCKER_USERNAME }}/aws-dynamodb-project-${{ matrix.java }}
