name: aws-lambda-project

on:
  push:
    paths:
      - "aws-lambda-project/**"
    branches: [main]
  pull_request:
    paths:
      - "aws-lambda-project/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "aws-lambda-project"
    strategy:
      matrix:
        distribution: [ 'temurin' ]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: ${{ matrix.distribution }}
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw clean verify
